/project/.ipcache/*
/project/final_project/*
/project/Encoder/*.o
/project/Encoder/sha256/*.o
/project/Server/*.o
/project/_x/*
/project/*.xclbin
/project/*.bin
/project/host
/project/*.xclbin.info
/project/*.xclbin.link_summary
/project/*.xo
/project/*.xo.compile_summary
/project/package/*
/project/package.build/*
/project/package.zip
/project/*.package_summary
/project/*.log
/project/encoder
